* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  /* 16px */
  line-height: 1.5rem;
  /* 24px */
  background-color: white;
  padding: 40px 24px;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;

}

.page-container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}